
@sandboxBorderColor: #333;
@sandboxWidth:100%;
@sandboxHeight:100%;
@sandboxZoneHeight:31%;
@maxCardSize:160px;

.manastack-sandbox {
	max-width:@sandboxWidth;
	height:100%;
	display:block;
	margin:0 auto;
	.zone {
		display:inline-block;
		float:left;
		height:@sandboxZoneHeight;
		min-height:4em;
		position:relative;
		padding:0.4em;
		.zone-inner {
			border:1px dashed @sandboxBorderColor;
			height:100%;
			border-radius:.3em;
			display:flex;
			justify-content:center;
			align-items:center;
		}
		.zone-label {
			position:absolute;
			width:100%;
			text-align:center;
			opacity:0.5;
			pointer-events:none;
			user-select:none;
			text-transform:capitalize;
			z-index:0;
		}
		img {
			transition:transform 0.2s ease-in;
		}
		.card-container {
			overflow:hidden;
			flex-direction:row;
			align-items:center;
			justify-content:center;
			z-index:0;
			transition:transform 0.2s ease-in;
			text-align:center;
			position:relative;
			display:flex;
			max-width:@maxCardSize;
			.card-image-container {
				max-width:@maxCardSize;
				text-align:center;
				align-items:center;
				justify-content: center;
			}
			img {
				width:100%;
				transition:transform 0.2s ease-in;
			}
			.counter {
				position:absolute;
				bottom:0.6em;
				right:0.6em;
				text-align:center;
				padding:0.3em;
				min-width:2em;
				color:white;
				background-color:#666;
				border:1px solid #333;
				border-radius:1em;
			}
		}

		.card-container.tapped {
			img {
				transform:rotateZ(90deg) scale(0.72);
				transition:transform 0.1s ease-in;
			}
		}

		img {
			pointer-events:none;
			max-width:100%;
		}
	}

	.zone-library {
		.zone-inner {
			overflow:hidden;
			position:relative;
		}
		.card-container {
			position:absolute;
			min-width:100%;
			width:100% !important;
			max-width:99%;
			max-height:99%;
		}
	}

	.zone-graveyard, .zone-exile {
		.zone-inner {
			flex-wrap:wrap;
		}
		.card-container {

		}
	}

	.sandbox-playarea {
		height:800px;
	}
	.sandbox-actions {
		justify-content:center;
		align-items:flex-start;
		text-align:center;
		button {
			margin:.3em .5em;
			padding:.3em .5em;
		}
		.counter-container {
			margin-top:.5em;
		}
		.action-label {
			display:block;
			width:100%;
			height:1.4em;
			color:black;
		}
	}			height:1.4em;

	.card-pile {
		display:flex;
		width:100%;
		height:100%;
		padding:0 .3em;
		.pile-button-left, .pile-button-right {
			height:100%;
			display:flex;
			justify-content: center;
			align-items: center;
			padding:0.6em;
		}
		.pile-button-right {
			&::after {
				content:'>';
			}
		}
		.pile-button-left {
			&::after {
				content:'<';
			}
		}
		.card-container {
			margin: 0 .1em;
		}
	}
}

#sandbox-drag-preview {
	position:fixed;
	margin-left:-120px;
	margin-top:-180px;
	width:187px;
	z-index:9999;
	pointer-events:none;
	transition:transform 0.2s ease-in;
	opacity:0;
	transform:scale(1.0,1.0);
	&.active {
		transform:scale(1.5,1.5);
		transition:transform 0.2s ease-in;
		display:block;
		opacity:1;
	}
}

.card-context-menu {
	position:fixed;
	display:block;
	background-color:#FFF;
	width:150px;
	z-index:999;
	border:1px solid #999;
	display:block;
	a {
		z-index:99999;
		cursor:pointer;
		display:block;
		width:100%;
		font-size:80%;
		padding:0.2em;
		&:hover {
			background-color:#CCC;
		}
	}
}
